<div class="login-body">
  
 
   <div >
      <div class="login-container">
          <!-- Template Header starts -->
              <div class="login-box-header">
                  <span>Forgot Password</span>                 
              </div>
              <!-- Template Header ends -->
   
              <!-- Template Body starts -->
              <div class="login-box-body ">
                  <form class="input-form" name="form" >
                      <mat-form-field class="input-width">
                          <label>Email</label>
                          <input matInput type="email" name="username" [(ngModel)]="model.username" #username="ngModel" required>
                      </mat-form-field>
              <div class="kmt-button" >
                  <button mat-raised-button class="send-button">
                    Send Password
                   </button>
                </div>
              </form> 
          </div>
        <!-- Template Body ends -->
      </div>
    </div>
  </div>
  
  <!-- Application footer starts -->
  <div class="footer">
          <span>  @copyright 2018</span>
        </div> 
  <!-- Application footer ends -->
  
  