<div class="login_page">
  <div class="company_logo">
        <h1 class="heading ">Cognizance</h1>
  </div>
<div class="login-body">
  
 
   <div >
      <div class="login-container">
          <!-- Template Header starts -->
              <div class="login-box-header">
                  <span>Forgot Password</span>                 
              </div>
              <!-- Template Header ends -->
   
              <!-- Template Body starts -->
              <div class="login-box-body ">
                    <form  class="input-form" (ngSubmit)="onSubmit(forgotPasswordform)" [formGroup]="forgotPasswordform" #formDir="ngForm">
                              <mat-form-field class="input-width">
                                <label>Email</label>
                                <input formControlName="email" matInput>
                              </mat-form-field>
                              <div class="error" 
                                *ngIf="forgotPasswordform.get('email').touched 
                                && forgotPasswordform.get('email').hasError('email')">
                                Enter full email address, including the '@'.
                              </div>
              <div class="kmt-button" >
                  <button [disabled]="forgotPasswordform.invalid" type="submit" mat-raised-button class="send-button">
                    Send Password
                   </button>
                </div>
                <div class="login-forgot">
                    <a routerLink="/login"> Login?</a>
            </div>
              </form> 
          </div>
        <!-- Template Body ends -->
      </div>
    </div>
  </div>
</div>  
  <!-- Application footer starts -->
  <div class="footer">
          <span>  @copyright 2018</span>
        </div> 
  <!-- Application footer ends -->
  
  