/*
Login template using Angular Material

*/
.login-body {
    background-color: #00a8ff;
    height: 100%;
    display: flex;
  align-content: center;
  justify-content: center;
}
.login-body > div {
  display: flex;
  align-items: center;
}
.login-container{
  width: 90%;
  margin: 0 auto;
	background-color: #fff;
	-webkit-box-shadow: 2px 4px 119px -28px #060606;
	-moz-box-shadow: 2px 4px 119px -28px #060606;
	box-shadow: 2px 4px 119px -28px #060606;
}
.login-box-header {
    color: #1f8edc;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding-top: 11px;
}
/* for body.....*/
.login-box-body{
    margin: 0px 35px 0px 20px;
}
.login-box-body  input {
    padding: 10px;
    margin-top: 10px;
}
.input-form {
    padding: 10px;
}
.input-width {
    width: 100%;
}
.kmt-button {
    margin: 10px 0px;  
}
.send-button {
    padding:1% ;
    font-size: 1em;
    color: #fff ;
    width: 100%;
    margin: 10px 0px;
    background-color: #00a8ff;
}
.login-forgot {
    text-align: center;
    margin-bottom: 20px;
}
.login-forgot a {
    color: #262626;
    text-decoration: none;
}
.login-forgot a:hover {
    color: #01447e;
    text-decoration: underline;
}
 /* footer.............*/
.footer {
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 8px;
    position: absolute;
    bottom: 0;
    right: 0;
    width:100%;
}
.footer a {
    color: white;
    text-decoration: none;
}


@media (min-width: 600px) {
  .login-container {
    width: 500px;
  }
}

@media (min-width: 600px) and (orientation: landscape) {
  .login-box-header[_ngcontent-c3] {
    font-size: 34px;
  }

  .mat-input-wrapper .mat-input-infix {
    border-top: 0;
  }
}

@media (min-width: 1024px) {
    .sidenav {
      position: relative!important;
      display: block;
    }
    .app-sidenav {
      visibility: hidden!important;
      padding:0!important;
    }
    mat-drawer {
      height: 100%;
      position: relative;
      transform: initial!important;
    }
    .app-sidenav-content {
      margin-left: 0px;
    }
  
  }
