# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
**/.idea
*.iml
**/out


#build files
build/
dist/
.gradle/
static/


#Eclipse specific files
*.project
*.settings
*.classpath
*.factorypath




