<div class="container">
    <div class="container-heading">
      <h2 class="heading-margin">{{article.title}} <sub><span> {{article.createdBy.firstName}}  {{article.createdBy.lastName}} </span></sub></h2>
      <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
      <input class="edit" id="edit" value="&#xf044;">
    </div>
    
    <div class="container-body article_view">
        <div class="left-container">
            <div class="type">
              <label>Type</label>
              <span>{{article.articleType.type}}</span>
            </div>
            <div class="reviewed">
              <label>Reviewed By</label>
              <span>{{article.approver.firstName}}  {{article.approver.lastName}}</span>
            </div>
            <div class="description">
                <label>Description</label>
                <p class="description" [innerHTML]="article.description"></p>
            </div>
            <div class="description">
                <label>Uploaded File</label>
                <div class="img-container">
                <div class="img-multiple">image.jpg</div> 
                <div class="img-multiple">image1.jpg</div>
                <div class="img-multiple">image2.jpg</div>
                <div class="img-multiple">image.jpg</div> 
                <div class="img-multiple">image1.jpg</div>
                <div class="img-multiple">image2.jpg</div>
               
              </div>
            </div>
      
        </div>
      
        
      </div>
  </div>

