<ng4-loading-spinner> </ng4-loading-spinner>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<mat-drawer-container class="app-container" autosize>
  <mat-drawer #drawer class="app-sidenav" mode="side">
    <app-left-panel></app-left-panel >
  </mat-drawer>

  <div class="app-sidenav-content">
    <button *ngIf="isAuthenticated()" type="button" class="hamburger-icon" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>

</mat-drawer-container>
<!--<app-left-panel></app-left-panel >-->
<!--<router-outlet></router-outlet>-->
<!--<app-footer></app-footer>-->


