<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="container">
  <div class="add-user-button"><a (click)="onTapNavigation('/user/add')">Add User</a></div>
  <div class="Container-table">
    <div class="add-heading"><h2 class="heading-margin">User Settings</h2></div>
    <div class="example-container">

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search within the table">
    </mat-form-field>
    <img src="../../assets/images/filter-icon.png" (click)="onTapFilterIcon()" alt="Filtericon" class="filter_icon">
  </div>
  
  <div class="example-container-1 mat-elevation-z8">
  
    <mat-table [dataSource]="dataSource" matSort class="list_table">
  
      <!-- Title Column -->
      <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.number }}</mat-cell>
          </ng-container>

          <!-- Type Column -->
          <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.title }}</mat-cell>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.state }}</mat-cell>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
          <mat-cell *matCellDef="let row">
              <a>Edit</a> | <a>Delete</a>
          </mat-cell>
          </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

  </div>
 </div>
</div>
