<div class="table-list-container">
  <div class="add-button"><a (click)="onTapNavigation('/article/add')">Add Article</a></div>
  <div class="Container-table">
    <div class="container-heading"><h2 class="heading-margin">Articles</h2></div>
    <div class="container-table-body">

  <div class="filter-input">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search within the table">
    </mat-form-field>
    <img src="../../assets/images/filter-icon.png" (click)="onTapFilterIcon()" alt="Filtericon" class="filter_icon">
  </div>
  
  <div class="table-input-list mat-elevation-z8">
  
    <mat-table [dataSource]="dataSource" matSort class="list_table">
   
      <!-- Title Column -->
      <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <a (click)="onTapNavigation('/article-detail/'+row.id)" *ngIf="(currentUserId != row.content.approver.id) || (row.status == true)">{{ row.title }}</a>
            <a (click)="onTapNavigation('/article-approved-view/'+row.id)" *ngIf="currentUserId == row.content.approver.id && row.status == false">{{ row.title }}</a>
          </mat-cell>
          </ng-container>

          <!-- Type Column -->
          <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.type }}</mat-cell>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
          <mat-cell *matCellDef="let row"> 
              <span *ngIf="!row.status">Unpublished</span>
              <span *ngIf="row.status">Published</span>
          </mat-cell>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let row" class="action-link">
              <a (click)="onTapNavigation('/article/edit/'+row.id)">Edit</a> | <a>Delete</a>
          </mat-cell>
          </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
  </div>

  </div>
 </div>
</div>
