
.filter-input {
    position: relative;
}

.searchsubmit {
    font-family: 'FontAwesome';
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0px;
    background: #525050;
    border: none;
    color: #fff;
    cursor: pointer;
}

.marginLeft20 {
    margin-left: 20px;
}