
<div><h1>Add User</h1></div>
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="First Name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Last Name">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Role">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email">
  </mat-form-field>

  <mat-form-field>
    <input type="password" matInput placeholder="Password">
  </mat-form-field>

  <mat-form-field>
    <input type="password" matInput placeholder="Confirm Password">
  </mat-form-field>

  <button mat-raised-button>Cancel</button>
  <button mat-raised-button>Save</button>

</div>
