<div class="container">
    <div class="breadcrumb-fullwidth">
        <div class="breadcrumb-bar">
             <ul class="breadcrumb">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">settings</a></li>
                <li><a href="#">User</a></li>
                <li>Edit-user</li>
             </ul>
          </div>
        </div>
  
        <div class="Container-table">
            <div class="container-heading"><h2 class="heading-margin">Dashboard</h2></div>
            <div class="container-table-body">

                <div class="filter-input">
                    <mat-form-field>
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search within the table">
                    </mat-form-field>
                    <img src="../../assets/images/search_gray.png" alt="Filtericon" class="search_icon">
                 </div>

                 
                
  </div>
  </div>
</div>
