<div class="container">
    <div class="add-heading"><h2 class="heading-margin">Add Article</h2></div>
    <form  (ngSubmit)="onSubmit(article)" [formGroup]="article" #formDir="ngForm">
        <div class="lower-container">
        <div class="form-box form-field-error">
          <mat-form-field>
            <input formControlName="title" matInput placeholder="Title">
            <span class="error" 
            *ngIf="article.get('title').touched 
            && article.get('title').hasError('required')">
              Title is required
           </span>
          </mat-form-field>
          
          

          <mat-form-field>
              <mat-select formControlName="articleType" placeholder="Types">
                  <mat-option>Select Types</mat-option>
                  <mat-option [value]="type.id" *ngFor="let type of types">
                    {{ type.type | titlecase}}
                  </mat-option>
              </mat-select>
              <span class="error" 
            *ngIf="article.get('articleType').touched 
            && article.get('articleType').hasError('required')">
            Article Type is required
           </span>
          </mat-form-field>
        
          <div class="article-description">
              <label>Description: </label>
              <quill-editor 
                  #description id="description"
                  placeholder="Description"
                  formControlName="description"
                  [style]="{'min-height': '150px'}">
              </quill-editor>
          
              <div class="error" 
              *ngIf="article.get('description').touched 
              && article.get('description').hasError('required')">
                Description is required
              </div>
          </div>        
        
          
          <mat-form-field>
              <mat-select 
              formControlName="approver" 
              placeholder="Assign to Review">
                  <mat-option>Select Reviewer</mat-option>
                  <mat-option [value]="approver.id" *ngFor="let approver of approvers">
                    {{ approver.firstName | titlecase}} {{ approver.lastName | titlecase}}
                  </mat-option>
              </mat-select>
              <span class="error" 
            *ngIf="article.get('approver').touched 
            && article.get('approver').hasError('required')">
            Approver is required
           </span>
          </mat-form-field>
          
        </div>
        <div class="button-postion">
          <button type="button" mat-raised-button (click)="onCancle()">Cancel</button>
          <button mat-raised-button type="submit" [disabled]="article.invalid">Submit for review</button>
        </div>
        
        </div>
        </form>
</div>
