<div class="container">
    <div class="container-heading"><h2 class="heading-margin">Add Article</h2></div>
    <form  (ngSubmit)="onSubmit(article)" [formGroup]="article" #formDir="ngForm">
        <div class="container-body">
        <div class="form-box form-field-error">
          <mat-form-field>
            <input formControlName="title" matInput placeholder="Title*">
            <span class="error" 
            *ngIf="article.get('title').touched 
            && article.get('title').hasError('required')">
              Title is required
           </span>
          </mat-form-field>
          
          

          <mat-form-field class="f-right">
              <mat-select formControlName="articleType" placeholder="Types*">
                  <mat-option>Select Types</mat-option>
                  <mat-option [value]="type.id" *ngFor="let type of types">
                    {{ type.type | titlecase}}
                  </mat-option>
              </mat-select>
              <span class="error" 
            *ngIf="article.get('articleType').touched 
            && article.get('articleType').hasError('required')">
            Article Type is required
           </span>
          </mat-form-field>
         
          <div class="article-description">
              <label>Description*: </label>
              <quill-editor 
                  #description id="description"
                  placeholder="Description"
                  formControlName="description"
                  [style]="{'min-height': '150px','background-color': '#fff'}">
              </quill-editor>
          
              <div class="error" 
              *ngIf="article.get('description').touched 
              && article.get('description').hasError('required')">
                Description is required
              </div>
          </div>        
        
          <div class="upload-attachment">
              <div class="upload-file-container">
                <div class="f-left"><label class="upload-title">Upload File</label><span class="light-color">Upload Max 10 files 20 MB each</span> </div>
                <div class="f-right upload-button"><span class="light-color">Allowed File Type:  &nbsp;  .pdf, .png, .jpg, .pdf, .doc  </span>
                    <div style="display:none;"><input accept=".jpg,.pdf,.doc,.png, doc, ppt, xls, txt" #file_new type="file" multiple (change)="onChange($event)" /></div>
                    <a  #upload_new (click)="file_new.click();">Add File</a>
                </div>
              </div>

              <div class="description">
                  <div class="img-container">
                      <div class="img-multiple" *ngFor="let attachement of attachements"><span>{{attachement.fileName}}</span><label class="x-icon"(click)="deleteAttachment(attachement.id)">x</label></div>
                </div>
              </div>
          </div>
          <div class="edit-article-details">
          <div class="user-article-details">
          <mat-form-field>
              <mat-select 
              formControlName="approver" 
              placeholder="Assign to Review*">
                  <mat-option>Select Reviewer</mat-option>
                  <mat-option [value]="approver.id" *ngFor="let approver of approvers">
                    {{ approver.firstName | titlecase}} {{ approver.lastName | titlecase}}
                  </mat-option>
              </mat-select>
              <span class="error" 
            *ngIf="article.get('approver').touched 
            && article.get('approver').hasError('required')">
            Approver is required
           </span>
          </mat-form-field>
          </div>
          <div class="user-checkbox">
          <mat-checkbox class="restricted-checkbox" formControlName="restricted" >Restricted Article</mat-checkbox>
        </div>
        </div>
        </div>
        <div class="button-container">
          <button type="button" mat-raised-button (click)="onCancle()">Cancel</button>
          <button mat-raised-button type="submit" [disabled]="article.invalid">Submit for review</button>
        </div>
        
        </div>
        </form>
</div>
