<div class="container">
    <div class="breadcrumb-fullwidth">
        <div class="breadcrumb-bar">
             <ul class="breadcrumb">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">settings</a></li>
                <li><a href="#">User</a></li>
                <li>Edit-user</li>
             </ul>
          </div>
        </div>
    <div class="container-heading"><h2 class="heading-margin">Knowledge Base</h2></div>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<div class="container-article-body">
<form role="search" method="get" id="searchform" class="searchform" action="#" _lpchecked="1">
<div class="searchboxwrapper">
  <input class="searchbox" type="text" value="" name="s" placeholder="Search for" id="s" [(ngModel)]="searchTxt">
  <input class="searchsubmit" type="submit" id="searchsubmit" value="" (click)="onSubmit()">
</div>
</form>
<div class="created-articles">

    
    <div class="article-box" *ngFor="let article of kbSearchResults.content"> 
        <h3><a [routerLink]="['/article-detail', article.id]">{{article.title}}</a> </h3>
        <p [innerHTML]="article.description">{{article.description}}</p>
        <p class="article-date">{{article.createdBy.firstName}} {{article.createdBy.lastName}},{{article.lastModifiedTime | date: 'mm/dd/yyyy'}}
                {{article.articleType.type}}</p>
        <hr>
      </div>
  </div>
  <br /><br />
  <div *ngIf='kbSearchResults.content.length === 0' class="noRecord">No Record Found</div>
  <mat-paginator *ngIf="kbSearchResults.content.length > 0" [length]="kbSearchResults.totalElements" [pageSize]="10" (page)="pageEvent = $event; onPaginateChange($event)">
  </mat-paginator>
</div>
</div>