<div class="container">
    <div class="container-heading"><h2 class="heading-margin">Knowledge Base</h2></div>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<div class="container-article-body">
<form role="search" method="get" id="searchform" class="searchform" action="#" _lpchecked="1">
<div class="searchboxwrapper">
  <input class="searchbox" type="text" value="" name="s" placeholder="Search for" id="s">
  <input class="searchsubmit" type="submit" id="searchsubmit" value="">
</div>
</form>
<div class="created-articles">
    <div class="article-box"> 
        <h4>Title of the article</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
           Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
             occaecat cupidatat non proid
          ent, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <p class="article-date">12/11/2017 Article Type</p>
        <hr>
      </div>
      <div class="article-box"> 
          <h4>Title of the article</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
             Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
              voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
               occaecat cupidatat non proid
            ent, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          <p class="article-date">12/11/2017 Article Type</p>
          <hr>
        </div>
        <div class="article-box"> 
            <h4>Title of the article</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                 occaecat cupidatat non proid
              ent, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            <p class="article-date">12/11/2017 Article Type</p>
            <hr>
          </div>
          <div class="article-box"> 
              <h4>Title of the article</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                  voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                   occaecat cupidatat non proid
                ent, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
              <p class="article-date">12/11/2017 Article Type</p>
              <hr>
            </div>
  </div>
</div>
</div>