
<div class="container">
    <div class="breadcrumb-fullwidth">
        <div class="breadcrumb-bar">
             <ul class="breadcrumb">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">settings</a></li>
                <li><a href="#">User</a></li>
                <li>Edit-user</li>
             </ul>
          </div>
        </div>
    <div class="container-heading">
      <p class="heading-margin">{{article.title}} <sub><span class="articleby"> by {{article.createdBy.firstName}}  {{article.createdBy.lastName}} </span></sub></p></div>
<div class="container-body article_view">
  <div class="left-container">
      <div class="type">
        <label>Type</label>
        <span>{{article.articleType.type}}</span>
      </div>
      <div class="reviewed">
        <label>Reviewed By</label>
        <span>{{article.approver.firstName}}  {{article.approver.lastName}}</span>
      </div>
      <div class="description">
          <label>Description</label>
          <p class="description" [innerHTML]="article.description"></p>
      </div>
      <div class="upload-files-section">
          <label>Uploaded File</label>
          <div class="img-container">
          <div class="img-multiple" *ngFor="let attachement of attachements"><span (click)="downloadAttachment(attachement.id, attachement.fileName)">{{attachement.fileName}}</span></div>
         
        </div>
      </div>

  </div>
 <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment" [(ngModel)]="comment"></textarea>
  </mat-form-field>

  <div class="button-container">
    <button type="button" mat-raised-button (click)="onCancle()">Post Comment</button>
    <button mat-raised-button type="button" (click)="onApproved()">Approved</button>
  </div>
    
</div>
</div>
