<div class="sidenav" *ngIf="isAuthenticated()">
    <div class="user-profile">
      <div class="user-image">
     <a (click)="onTapNavigation('')"> <img src="../../assets/images/user.png" alt="usericon" class="user_icon">
    </a>
      </div>
      <div class="user-information">
     <span class="user"><a>{{ getUserName() }}</a></span>
     <span class="user-logout"><a (click)="logout();"> Logout</a></span>
      </div>
     </div>
     <div class="sidenav-menu">
       <ul class="menu-list">
         <li>
             <a (click)="onTapNavigation('')">
              <img src="../../assets/images/search.png" alt="searchicon" class="menu-icon">
             <span>Search</span>
             </a>
         </li>
         <li>
             <a (click)="onTapNavigation('')">
              <img src="../../assets/images/knowledge_base.png" alt="KnowledgeBaseicon" class="menu-icon">
             <span>Knowledge Base</span>
             </a>
         </li>
         <li>
             <a (click)="onTapNavigation('')">
              <img src="../../assets/images/dashboard.png" alt="dashbioardicon" class="menu-icon">
             <span>Dashboard</span>
             </a>
         </li>
         <li>
             <a (click)="onTapNavigation('')">
              <img src="../../assets/images/Article.png" alt="articleicon"class="menu-icon">
             <span>Article</span>
             </a>
         </li>
         <li class="submenubar">
             <a>
              <img src="../../assets/images/settings.png" alt="settingsicon"class="menu-icon">
               <span>Settings</span>
             </a>
             <ul class="menu-sub_list">
               <li *ngIf="userType === 'admin'">            
                 <a (click)="onTapNavigation('/userlist')">User</a>
               </li>
               <li>  
                   <a (click)="onTapNavigation('')">Profile</a>
               </li>
               <li> 
                   <a (click)="onTapNavigation('')">Google Tanslater</a>
               </li>     
             </ul>              
         </li>
         <li>
             <a (click)="onTapNavigation('')">
              <img src="../../assets/images/help.png" alt="helpicon" class="menu-icon">
               <span>Help</span>
             </a>
         </li>
       </ul>
     </div>
   </div>
   <!--<div class="main">
       <div class="content-box">
         <div class="some-header">
           Something
         </div> 
        </div>
      </div>-->
        