<div class="sidenav" *ngIf="isAuthenticated()">
    <div class="user-profile">
      <div class="user-image">
     <a href="#"> <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Circle-icons-camera.svg" class="circle"></a>
      </div>
      <div class="user-information">
     <span class="user"><a href="#">{{ getUserName() }}</a></span>
     <span class="user-logout"><a href="#" (click)="logout();"> Logout</a></span>
      </div>
     </div>
     <div class="sidenav-menu">
       <ul class="menu-list">
         <li>
             <a (click)="onTapNavigation('')">
             <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Circle-icons-camera.svg" class="menu-icon">
             <span>Search</span>
             </a>
         </li>
         <li>
             <a (click)="onTapNavigation('')">
             <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Circle-icons-camera.svg" class="menu-icon">
             <span>Knowledge Base</span>
             </a>
         </li>
         <li *ngIf="userType === 'admin' || userType === 'manager'">
             <a (click)="onTapNavigation('')">
             <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Circle-icons-camera.svg" class="menu-icon">
             <span>Dashboard</span>
             </a>
         </li>
         <li>
             <a (click)="onTapNavigation('')">
             <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Circle-icons-camera.svg" class="menu-icon">
             <span>Content</span>
             </a>
         </li>
         <li class="submenubar">
             <a>
               <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Circle-icons-camera.svg" class="menu-icon">
               <span>Settings</span>
             </a>
             <ul class="menu-sub_list">
               <li *ngIf="userType === 'admin' || userType === 'manager'">            
                 <a (click)="onTapNavigation('/userlist')">User</a>
               </li>
               <li>  
                   <a (click)="onTapNavigation('')">Profile</a>
               </li>
               <li> 
                   <a (click)="onTapNavigation('')">Google Tanslater</a>
               </li>     
             </ul>              
         </li>
         <li>
             <a (click)="onTapNavigation('')">
               <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Circle-icons-camera.svg" class="menu-icon">
               <span>Help</span>
             </a>
         </li>
       </ul>
     </div>
   </div>
   <!--<div class="main">
       <div class="content-box">
         <div class="some-header">
           Something
         </div> 
        </div>
      </div>-->
        