

<div class="app-header">
    <h1 class="app-heading">Login</h1>
</div>
<!-- Application header ends -->
 
<mat-grid-list cols="3">
    <mat-grid-tile></mat-grid-tile>
 
    <!-- Writing markup for login starts -->
    <mat-grid-tile class='login-element'>
        <div class="login-container">
 
            <!-- Template Header starts -->
            <div class="login-box-header">
                <h2>Login </h2>
                
            </div>
            <!-- Template Header ends -->
 
            <!-- Template Body starts -->
            <div class="login-box-body pass">
                <form class="example-form" name="form" >
                    <mat-form-field class="example-full-width">
                        <label>User-name:</label> 
                        <input matInput type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <label>Password</label>
                        <input matInput type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required>
                    </mat-form-field>
                    <mat-grid-list cols="2" class="template-body-footer">
                            <mat-grid-tile>
                                <div class="login-button" (click)="login()">
                                    <button mat-raised-button color="primary" class="login-button">
                                    <mat-icon>input</mat-icon>
                                    Login
                                    </button>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                    <div class="login-forgot">
                                            <a href='#'> Forgot Password</a>
                                        </div>
                                    </mat-grid-tile>
                    </mat-grid-list>
            </form>
        </div>
            
            
            <!-- Template Body ends -->
            
        </div>
    </mat-grid-tile>
    <!-- Writing markup for login ends -->
    <mat-grid-tile></mat-grid-tile>
 
</mat-grid-list>

<!-- Application footer starts -->
<div class="app-footer">
    <h6 class="app-footer">Term & Conditions /@copyright 2018</h6>
</div>
<!-- Application footer ends -->

