/*
Login template using Angular Material

*/
 
body{
	background-color: #f2f2f2;
	font-family: 'Roboto', sans-serif;
	margin:0px !important;
}
 
.app-header{
	color: #fff;
    background-color: #e91e63;
    text-align: center;
    padding: 1%;
	-webkit-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
	-moz-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
	box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
}
 
.login-container{
	width: 100%;
  	height:400px;
  	padding: 0% !important;
	background-color: #fff;
	-webkit-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
	-moz-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
	box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
}
 
.login-box-header{
	width: auto;
    height: 20%;
    background-color: #1f8edc;
    text-align: center;
    vertical-align: middle;
    font-size: 1em;
    padding: 2%;
    color: #fff;
}
 
.justifier {
	width: 100%;
	padding-bottom: 2%;
}

.login-button {
    padding:1% !important;	
    font-size: 1em;
    color: #fff !important;
}
 
.example-form {
    min-width: 150px;
    max-width: 500px;
    padding: 20px;
  }
  
  .example-full-width {
    width: 90%;
  }

.app-footer {
    color: #fff;
    background-color: #bfbbbd;
    text-align: center;
    padding: 4px;
}

.pass input {
    border: 1px solid gray;
    padding: 10px;
    margin-top: 10px;
}

.mat-form-field-underline {
    height: 0!important;
}
  
.mat-input-ripple {
     background-color: transparent!important; 
}

.mat-input-wrapper {
     padding-bottom: 0!important;
}

.template-body-footer mat-grid-tile {
    padding-top: 70px!important;
}

.template-body-footer button {
    width: 100%;
}

.mat-raised-button.mat-primary {
    background-color: #1f8edc!important;
}
