<div class="container">
    <div class="breadcrumb-fullwidth">
        <div class="breadcrumb-bar">
             <ul class="breadcrumb">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">settings</a></li>
                <li><a href="#">User</a></li>
                <li>Edit-user</li>
             </ul>
          </div>
        </div>
    <div class="container-heading"><h2 class="heading-margin">Knowledge Base</h2></div>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<div class="container-article-body">
    <div class="created-articles">
        <div class="article-box"> 
            <h2>Search the Knowledge Base </h2>
            <h3>How can we help you today?</h3>
              
          </div>
<form (ngSubmit)="onSubmit();" role="search" method="get" id="searchform" class="searchform" action="#" _lpchecked="1">
<div class="searchboxwrapper">
  <input class="searchbox" type="text" value="" name="s" placeholder="Search for" id="search" [(ngModel)]="searchTxt">
  <input class="searchsubmit" type="submit" id="searchsubmit" value="">
</div>
</form>

                
  </div>
</div>
</div>