/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html{
  Height:100%;
}
body { 
  font-family: Source Sans Pro, Arial, sans-serif;
  margin: 0;
  font-size: 14px;
  height:100%
}
a{
  cursor: pointer;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
/*.example-container{  
width: 982px;
}*/

.container{
  width: 76%;
  float: right;
  margin:0px 28px;
}
a {
  text-decoration: none;
}

.add-heading {
  background-color: #33b7fc;
  color: #fff;
  margin-top: 10px;
  padding:  10px;
}

.lower-container {
  flex-direction: column;
  background-color: #fbfbfb;
  padding: 20px;
  box-shadow:  0px 5px 8px rgba(0, 0, 0, 0.3);
  float:left; 
}
.error{
  color: #ff1010;
  font-size: 12px;
}

/**user management**/

.filter-popup  .mat-dialog-content mat-form-field .mat-input-wrapper .mat-form-field-infix{
  width:100% 
}
.filter-popup h1{
 font-size: 17px;
}
.filter-popup .mat-dialog-actions .final_apply{
  background-color: #33b7fc;
  color: #fff;
  float: right;
}

.filter-popup .mat-dialog-actions{  
  display: block;
}


.filter_clear .mat-button-wrapper{ 
    color: #155d82;
    font-size: 13px;
    text-decoration: underline;
}
.filter_clear:hover{
background-color: #fff;
}
.add-heading{
  background-color: #33b7fc;
  color: #fff;
  margin-top: 10px;
  padding: 10px;
}
.heading-margin{
  margin: 0px;
}
.example-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fbfbfb;
  padding: 20px;
  -webkit-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
}