/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html{
  Height:100%;
}
body { 
  font-family: Source Sans Pro, Arial, sans-serif;
  margin: 0;
  font-size: 14px;
  height:100%
}
a{
  cursor: pointer;
  text-decoration: none;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.basic-container {
  padding: 5px;
}
.version-info {
  font-size: 8px;
  float: right;
}
/* for add and edit user component css............................*/
.form-box{
  float: left;
  width: 100%;
}
.form-box .mat-form-field {
  width: 48%;
} 
.article-description label {
    color: rgb(121, 120, 120);
    display: block;
    padding: 20px 0;
  }

  .heading-margin::first-letter{
    text-transform: uppercase;
}

/* for the Bar heading.... .....*/
.container{
  width: auto;
  padding: 20px 40px;
}
.container-heading {
  background-color: #33b7fc;
  color: #fff;
  float: left;
  width: 100%;
  border-radius: 5px 5px 0px 0;
}
.heading-margin{
  margin: 0px;
  font-size: 25px;
  font-weight: 500;
  padding: 10px 20px;
}
.articleby{
  font-size: 12px;
  padding-left: 5px
}
.container-body {
  flex-direction: column;
  background-color: #fbfbfb;
  padding: 20px;
  box-shadow:  0px 5px 8px rgba(0, 0, 0, 0.3);
  float:left;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 20px;
}

/* for the cancle and save button in add and edit user ...........*/
.button-container .mat-raised-button {
  line-height: 24px;
  padding: 0 35px;
  background-color: #33b7fc;
  color: white;
  margin-right: 10px;
}
.button-container {
  float: right;
  margin-top: 70px;
}
/* for the input text area in edit and add  user page................*/
.form-field-error mat-form-field .error{
  color: #ff1010; 
  font-size: 12px;
  position: absolute;
  top: 33px;
}
.form-input-area .mat-form-field {
  width: 45%;
  margin-right: 30px;
  margin-top: 11px;
}
/* for userlist and artical table..............*/
.table-list-container {
  width: auto;
  padding: 20px 40px;
}
.container-table-body {
  flex-direction: column;
  background-color: #fbfbfb;
  padding: 20px;
  box-shadow:  0px 5px 8px rgba(0, 0, 0, 0.3);
} 

.list_table a {
  color: #4388f3;
}

/* top button add for actical and user ............*/
.add-button {
  float: right;
  margin: 25px 0 25px 0;
  width: 16%;
  text-align: center;
}
.add-button a {
  text-decoration: none;
  padding: 10px 0px;
  background-color: #33b7fc;
  display: block;
  color: #fff;
}
/**user management**/

.filter-popup  .mat-dialog-content mat-form-field .mat-input-wrapper .mat-form-field-infix{
  width:100% 
}
.filter-popup h1{
 font-size: 17px;
}
.filter-popup .mat-dialog-actions .final_apply{
  background-color: #33b7fc;
  color: #fff;
  float: right;
}
.filter-popup .mat-dialog-actions{  
  display: block;
}
.filter_clear .mat-button-wrapper{ 
    color: #155d82;
    font-size: 13px;
    text-decoration: underline;
}
.filter_clear:hover{
background-color: #fff;
}

/* for user setting and artical table action ..........*/
.action-link a{
  color: #4388f3;
  user-select: none;
}
.action-link a:visited {
  color:#164fa5;
}
/* for user and artical table container...........*/

.Container-table {
  float: left;
  width: 100%;
}
.table-input-list {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 10px 0 40px 0;
}
.mat-table {
  overflow: auto;
  max-height: 500px;
}
.filter-input {
    min-height: 60px;
    padding: 0px ;
}

.filter-input .mat-form-field {
  font-size: 14px;
  width: 270px;
}
/* for the filter..............*/ 
.final_apply{
  text-decoration: none;
  background-color: #33b7fc;
  display: block;
  color: #fff;
}
.filter_icon{
  vertical-align: text-top;
  margin-left: 11px;
}

/* for the search icon .........*/
.search_icon {
  vertical-align: text-top;
  margin-top: -6px;
  margin-left: -33px;
  }

/* globle table.....................*/
.list_table mat-header-row mat-header-cell,
.list_table mat-row mat-cell{
  font-size: 12px;
  padding-right: 9px;
} 
.list_table mat-header-row mat-header-cell{
  color: #000;
  font-weight: bold;
}

/*Hamburger icon*/
.border-menu {
  position: relative;
  margin-top: 5px;
}
.border-menu:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 32px;
  height: 3px;
  border-top: 0.6em double #33b7fc;
  border-bottom: 0.2em solid #33b7fc;
}

/* for the breadcrumb..............*/
.breadcrumb-fullwidth {
    float: left;
    width: 100%
  }
  
  .breadcrumb-bar {
    float: left;
    width: 81%;
    margin: 25px 0 25px 0;
  }
  .breadcrumb-fullwidth .breadcrumb-bar {
    width: 100%;
  }
  
  ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    margin: 0px;
  }
  ul.breadcrumb li {
    display: inline;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
   }

   span {
    user-select: none;
   }