/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  font-size: 14px;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
.container{
  width: 76%;
  float: right;
  margin:0px 28px;
}
a {
  text-decoration: none;
}

.add-heading {
  background-color: #ffa834;
  color: #fff;
  margin-top: 10px;
  padding:  10px;
}

.lower-container {
  flex-direction: column;
  background-color: #fbfbfb;
  padding: 20px;
  box-shadow:  0px 5px 8px rgba(0, 0, 0, 0.3);
  float:left; 
}